<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- replace with your own path to beat saber -->
    <BeatSaberDir>C:\Program Files (x86)\Steam\steamapps\common\Beat Saber</BeatSaberDir>
  </PropertyGroup>
</Project>
